h2{
      color:coral;
      text-align: center;
      padding: 10px 0px 10px 10px;
  }

main {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 50px;
  margin-top: 40px;
  grid-auto-rows: 600px;
  justify-content: center;
  justify-items: center;
  align-items: stretch;
  align-content: center;
  grid-auto-flow: column;
}

  img {
    width: 100%;
    height: auto;
  }

  .lesson {
box-shadow: 0 1px 1px 0 lightcoral;
width: 200px;
  }

  .example {
    font-size: 14px;
    color: lightslategray;
    padding: 10px 0px 10px 10px;
    text-align: left;
    border-top: 1px solid gray;
  }

  .beetles{
    position: relative;
    display: inline-block;
    height: 60%;
    margin-top: 50px;
    height: 430.188px;
    width: 573.578px;
  }

  .beetles img{
    cursor: pointer;
  }

  .beetles .game{
    position: absolute;
    top: 200px;
    left: 150px;
    transition: max-height 750ms ease-in 750ms;
    max-height: 100px;
    transition-timing-function: ease-out;
  }

  .beetles .game:hover {
    max-height: 500px;
  }
  