.main{
    background-color: pink;
    width: 800px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container{
    background-color: brown;
    width: 400px;
    height: 400px;
    background-color: coral;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test{
    background-color: wheat;
    width: 100px;
    height: 50px;
    border: 10px solid tomato;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.grid{
    border: 3px solid aquamarine;
    width: 600px;
    height: 500px;
    display: grid;
    grid-template: 1fr 2fr 3fr / repeat(3, 200px);
}

.box{
    background-color: skyblue;
    color: blue;
    border-radius: 10px;
    border: 1px solid blueviolet;
}

.grid3 {
    display: grid;
    border: 2px blue solid;
    height: 800px;
    width: 1000px;
    grid-template: repeat(4, 1fr 2fr) / repeat(4, 3fr 2fr);
    grid-gap: 5px;
  }
  
  .box5 {
    background-color: skyblue;
    color: blue;
    border-radius: 10px;
    border: 1px solid blueviolet;
    grid-area: 4 / 6 / 6 / span 2;
  }
  
  .box6{
    grid-area: 5 / 2 / 5 / span 3;
    background-color: skyblue;
    color: blue;
    border-radius: 10px;
    border: 1px solid blueviolet;
  }

  .blog{
      display: grid;
      max-width: 1000px;
      position: relative;
      margin: auto;
      grid-gap: 15px;
        grid-template-rows: 150px 200px 600px 200px;
        grid-template-columns: 200px 400px;
        grid-template-areas: "header header"
                             "nav nav"
                             "left right"
                             "footer footer";
}

header{
    background-color: mediumslateblue;
    grid-area: header;
    text-align: center;
  }

  nav {
    background-color: white;
    border: tomato solid 1px;
      grid-area: nav;
      text-align: center;
  }
  
  .left {
    background-color: pink;
      grid-area: left;
      text-align: center;
  
  }
  
  .right {
    background-color: white;
    border: solid tomato 1px;
      grid-area: right;
      text-align: center;
  
  }
  
  footer {
    background-color: pink;
      grid-area: footer;
      text-align: center;
  }